/*========Container style ==========*/
.container {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: hidden;
}

/* .container > div {
  width: 50%;
  height: 100vh;
} */

/*=====Form Container style======*/

.form_container {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

/*========Form Wrapper style ==========*/
/* .form_wrapper {
  border: 2px solid black;
} */

.form_wrapper h3 {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: black;
  margin-bottom: 2rem;
}

.form_wrapper h3 span {
  color: #3754db;
}

.form_wrapper label {
  line-height: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  color: #2c2e3a;
}

/* .form_wrapper input {
  display: block;
  width: 100%;
  background: #fbfbfe;
  border: 1px solid #a8abbd;
  border-radius: 12px;
  padding: 12px;
  font-size: 1rem;
  outline: none;
  z-index: -1;
} */

.form_wrapper input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 19px;
  color: #83848e;
}

.form_container a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 17px;
}

.next_btn {
  margin-top: 3rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: none;
  color: white;
  display: block;
  cursor: pointer;
  background: #3754db;
  box-shadow: 0 12px 25px rgba(22, 36, 104, 0.06);
  border-radius: 12px;
  text-transform: capitalize;
}

/*========Image Container style ==========*/
.img_container {
  padding: 1rem 0;
}

.img_container img {
  height: 100%;
  position: relative;
  width: 630px;
}

.img_container a {
  float: left;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

/*====== Workspace button style=======*/
.workspace_type {
  display: flex;
  justify-content: space-between;
}

.workspace_type button {
  border: 1px solid #b3b3b3;
  display: block;
  box-sizing: border-box;
  border-radius: 16px;
  background: transparent;
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  cursor: pointer;
  letter-spacing: -0.02em;
  position: relative;
}

.workspace_type button p {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 40px;
  text-transform: capitalize;
  color: #000000;
}

.workspace_type button small {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 20px;
  color: #807f7f;
}

.checked-img {
  position: absolute;
  right: 2rem;
}

.description {
  width: 100%;
  display: block;
  border: 1px solid #a8abbd;
  padding: 1rem;
  border-radius: 12px;
  font-size: 1rem;
}

.description::placeholder {
  color: #c2c4cf;
}

.step_btn {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 2rem auto;
}
.step_btn button:nth-child(1) {
  margin-right: 1.5rem;
}

.workspace-choice-box,
.workspace-description-box {
  width: 55%;
  margin: 3rem auto 0;
}

.title-form-box {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 5rem auto 0;
}

@media only screen and (max-width: 1200px) {
  .title-form-box {
    width: 45%;
  }

  .workspace-choice-box,
  .workspace-description-box {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  .title-form-box {
    width: 55%;
  }

  .workspace-choice-box,
  .workspace-description-box {
    width: 70%;
  }
}

@media only screen and (max-width: 800px) {
  .title-form-box {
    width: 65%;
  }

  .workspace-choice-box,
  .workspace-description-box {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .title-form-box {
    width: 80%;
  }

  .workspace-choice-box,
  .workspace-description-box {
    width: 95%;
    text-align: center;
  }

  .workspace_type {
    flex-direction: column;
  }

  .workspace_type button:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .workspace_type button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 450px) {
  .form_container {
    padding: 0 1rem;
  }

  .title-form-box,
  .workspace-choice-box,
  .workspace-description-box {
    width: 100%;
  }
}
