/*========Container style ==========*/
.container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    justify-content: space-around;
}

.container > div {
    width: 50%;
    height: 100vh;
}

/*=====Form Container style======*/

.form_container {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*========Form Wrapper style ==========*/
.form_wrapper{
/*border: 2px solid black;*/
}


.form_wrapper h3{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: black;
    margin-bottom: 2rem;
}

.form_wrapper h3 span{
    color: #3754DB;
}

.form_wrapper label{
    line-height: 2rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    color: #2C2E3A;
}

.form_wrapper input{
    display: block;
    width: 80%;
    background: #FBFBFE;
    border: 1px solid #A8ABBD;
    border-radius: 12px;
    padding: 12px;
    font-size: 1rem;
    outline: none;
}

.form_wrapper input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 19px;
    color: #83848e;
}

.form_container a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 17px;
}

.next_btn{
    margin-top: 3rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: none;
    color: white;
    display: block;
    cursor: pointer;
    background: #3754DB;
    box-shadow: 0 12px 25px rgba(22, 36, 104, 0.06);
    border-radius: 12px;text-transform: capitalize;
}




/*========Image Container style ==========*/
.img_container{
    padding: 1rem 0;
}

.img_container img{
    height: 100%;
    position: relative;
    width: 630px;
}

.img_container a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    width: 100%;
}

/*====== Workspace button style=======*/
.workspace_type{
   display: flex;
    justify-content: space-between;
}

.workspace_type button{
    border: 1px solid #B3B3B3;
    display: block;
    box-sizing: border-box;
    border-radius: 16px;
    background: transparent;
    text-align: left;
    padding: 2rem 1rem 1rem 1rem;
    cursor: pointer;
    margin-right: 2rem;
    letter-spacing: -0.02em;
    position: relative;
}

.workspace_type button p{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 40px;
    text-transform: capitalize;
    color: #000000;
}

.workspace_type button small{
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 20px;
    color: #807F7F;
}

.description{
    width: 100%;
    display: block;
    border: 1px solid #A8ABBD;
    padding: 1rem;
    border-radius: 12px;
    font-size: 1rem;
}

.description::placeholder{
    color: #C2C4CF;
}

.step_btn{
    display: flex;
    align-items: center;
}
.step_btn button:nth-child(1){
    margin-right: 3rem;
}


