.verification_header{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    flex-direction: column;
    text-align: left;
}

.verification_header div h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    margin: 1rem;
    color: #000000;
    text-align: center;
}

.verification_header > div{
    width: 90%;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
}
@media (min-width: 520px){
    .verification_header > div {
        width: 50%
    }
}

@media (min-width: 1023px){
    .verification_header > div {
        width: 30%
    }
}
.verification_header p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    margin: 1rem;
    height: fit-content;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    color: #676767;
    text-align: center;
}

.verification_header img{
    width: 200px;
    height: 150px;
    margin-bottom: 1rem;
}

@media (min-width: 520px){
    .verification_header > div {
        width: 55%
    }
}

@media (min-width: 1023px){
    .verification_header > div {
        width: 40%
    }
}

@media (min-width: 1480px){
    .verification_header > div {
        width: 30%
    }
}