.verification_header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 85vh;
    flex-direction: column;
    text-align: center;
}

header div h3{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    margin: 1rem;
    color: #000000;
}

header > div{
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 520px){
    header > div {
        width: 50%
    }
}

@media (min-width: 1023px){
    header > div {
        width: 30%
    }
}
header p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    margin: 1rem;
    height: fit-content;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #676767;
}

.verification_header img{
    width: 200px;
}

.token-btn{
    background: #3754DB;
    border-radius: 12px;
    font-size: 0.8rem;
    padding: 0.7rem 2rem;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    transition: all .5s ease-in-out;
    outline: none;
    border: none;
    margin-top: 1rem;
    cursor: pointer;
}

