/* .css-xilmwd-MuiPaper-root-MuiAlert-root {
    align-items: center;
   }

   .css-rob5aa-MuiPaper-root-MuiAlert-root */

.css-vox20o-MuiStack-root div {
    align-items: center;
    border-radius: 12px;
    
}

/* .css-vox20o-MuiStack-root > div {
    padding: 20px;
    border: 4px solid blue;
} */