.task_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.task_card{
    width: 253px;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    margin: 1rem 0;
}

.task_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.7rem;
}

.task_item p{
    color: #B9B9B9;
    font-weight: 600;
    font-size: 14px;
}

.task_item small{
    background: #FFFDF5;
    border-radius: 12px;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.01em;
    color: #DF9A00;
}

.task_name{
    color: #16171D;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.02em;
}

.view_task_btn{
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 14px;
    color: #3754DB;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    margin-top: 1rem;
    cursor: pointer;
}

.view_task_btn img{
    margin-left: 0.5rem;
}